@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    /* Colors */
    --primary: #55B8FF;
    --secondary: #4752FF;
    --black: #2F3437;
    --linear: linear-gradient(to right, var(--secondary), var(--primary));
    --other-color: #4176E8;
    /* Black */
    --black75: hsla(203, 8%, 20%, 75%);
    --black50: hsla(203, 8%, 20%, 50%);
    --black25: hsla(203, 8%, 20%, 25%);
    --black10: hsla(203, 8%, 20%, 10%);
    --black5: hsla(203, 8%, 20%, 5%); 
    /* Typography */  
    --small-text: 0.938rem;
    --paragraph: 1.313rem; 
    --h1: 7.438rem; 
    --h2: 5.25rem; 
    --h3: 3.688rem; 
    --h4: 2.625rem; 
    --h5: 1.875rem; 
    --h6: 1.313rem; 
    /* Padding */
    --px256: 256px; 
    --px192: 192px; 
    --px128: 128px; 
    --px96: 96px; 
    --px64: 64px; 
    --px56: 56px;
    --px40: 40px; 
    --px32: 32px; 
    --px24: 24px; 
}

/* Utility */ 

.gradient-text {
    background: linear-gradient(to right, var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instagram-color {
    background: linear-gradient(to top, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light {
    font-weight: 300;
}

/* All Page Style */ 

* {
    margin: 0;
    font-family: 'Inter', sans-serif; 
}

p {
    font-size: var(--paragraph);
    color: var(--black75);
    line-height: 1.3em;
}

h1 {
    font-size: var(--h1);
    color: var(--black);
}

h2 {
    font-size: var(--h2);
    color: var(--black);
}

h3 {
    font-size: var(--h3);
    color: var(--black);
    line-height: 1.7em;
}

h4 {
    font-size: var(--h4);
    color: var(--black);
}

h5 {
    font-size: var(--h5);
    color: var(--black);
}

h6 {
    font-size: var(--h6);
    color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

img {
    width: 100%;

}

nav {
    font-size: var(--small-text);
    font-weight: bold;
    display: flex;
    padding: .5em 8em .5em 8em;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--black10);
}

ul {
    list-style: none;
}

li {
    padding: 1.5em;
    display: inline-block;
}

li:last-child {
    margin-right: 2em;
}

li a {
    color: var(--black);
}

li a:hover {
    font-size: 1.05em;
    transition: .2s;
    color: var(--primary);
}

a {
    text-decoration: none;
}

.nav-search {
    padding: .1em;
    border-radius: 60px;
    background: var(--black25);
    align-self: center;
    display: flex;
}

.search-bar {
    width: 10em;
    height: 2em;
    background: none;
    color: var(--black);
    font-weight: bold;
    position: relative;
    padding: .3em 1em .3em 2em;
    border-radius: 60px;
    border: none;
    outline: none;
}

.search-icon {
    cursor: pointer;
    padding-right: 1em;
    transform: scale(1.3);
}

.search-icon:hover {
    transition: .3s;
    transform: scale(1.4); 
} 

.nav-left {
    display: flex;
}

.btn-search {
    background: none;
    border: none;
    border-radius: 60px;
    width: 100%;
}

.header-logo {
    width: 10%;   
}

.hero, .featured, .travel-tips, .accommodation, .flight, .testimonial {
    text-align: center;
}

.hero, .featured, .travel-tips, .accommodation, footer {
    padding-top: var(--px128);    
}

/* Hero */

/* .hero {

} */

/* .hero-h1 {

} */

.hero-h3 {
    padding-top: var(--px96);    
    color: var(--linear);
}

.hero-p {
    padding-top: var(--px64);
    line-height: 1.3em;
}

/* Featured */

/* .featured {

} */

/* .featured-h3 {

} */

.featured-p {
    padding: var(--px24);
}

.featured-img {
    padding-top: var(--px64);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.featured-h5 {
    padding-top: var(--px56);
    color: var(--secondary);
}